---
import type { Provider, InvoiceClient } from '../../types/invoice';

interface Props {
  provider: Provider;
  client: InvoiceClient;
}

const { provider: prov, client } = Astro.props;
---

<div class="invoice-parties">
  <!-- Prestador (constante) -->
  <div>
    <p class="party-label">De (prestador)</p>
    <p class="party-name" id="prov-name">{prov.name}</p>
    <p class="party-detail" id="prov-detail">
      {prov.title}<br />
      NIT / CC: <span class="mono-val">{prov.cc}</span><br />
      <a href={`mailto:${prov.email}`}>{prov.email}</a><br />
      <span class="mono-val">{prov.phone}</span><br />
      {prov.city}
    </p>
  </div>

  <!-- Cliente (variable) -->
  <div>
    <p class="party-label">Para (cliente)</p>
    <p class="party-name" id="client-name">{client.name}</p>
    <p class="party-detail" id="client-detail">
      NIT: <span class="mono-val">{client.nit}</span><br />
      Contacto: {client.contact}<br />
      <a href={`mailto:${client.email}`}>{client.email}</a><br />
      {client.address}<br />
      {client.city}
    </p>
  </div>
</div>
